#_rf_highlight {
	position: absolute !important;
	top: 0 !important;
	left: 50% !important;
	transform: translate(-50%, 0) !important;
	margin: 20px !important;
	padding: 10px !important;
	background: white !important;
	z-index: 999999999 !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 9999999px !important;
	max-width: 700px !important;
	min-width: 340px !important;
	display: none;
}

#_rf_header {
	display: block;
	padding: 8px;
	margin: 0;
	color: rgba(100, 200, 100, 0.7);
	background: rgba(100, 200, 100, 0.3);
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

._rfbtn {
	color: black;
	font-size: 100%;
	background-color: #eee;
	padding: 2px 8px;
	margin: 0 8px;
}
